.in button{
    padding: 10px 20px;
    margin: 0px 10px ;
    color: blueviolet;
    background: gold;
    font-size: 15px;
}
.in h1 {
    padding-left: 10px;
    color: blue;
}
.Header {
    display: flex;
    justify-content: space-between;
}
p {
    margin: 0;
    padding: 0;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.cards button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}