.header {
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
}

.header_links {
  display: flex;
  gap: 10px;
}

.header_links a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.header_links a:hover {
  text-decoration: underline;
  color: blue;
}
