/* .heading1 {
  color: red;
}

.heading2 {
  color: blue;
}

h1 {
  color: green;
} */

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: green;
  padding: 10px;
  border: 10px  solid red;
  width: 100%;
}