/* signin css  */
.error {
  font-size: 10px;
  color: red;
  margin-top: 5px;
}

.auth_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input_control {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input_control input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.submit_btn {
  margin-top: 10px;
  width: 100%;
  border: none;
  outline: none;
  padding: 5px;
  background-color: rgb(92, 243, 92);
  border-radius: 5px;
  cursor: pointer;
}

.submit_btn:hover {
  background-color: rgb(7, 201, 7);
}

.signup_link {
  margin-top: 10px;
  text-align: center;
  color: gray;
  font-size: 12px;
}

.signup_link a {
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

/* header  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px 5px 10px;

  border: 1px solid lightgray;
}

.header button {
  background-color: rgb(78, 78, 245);
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* not found  */
.not_found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not_found h1 {
  font-size: 50px;
}

.not_found p {
  font-size: 20px;
}

.not_found a {
  text-decoration: none;
  padding: 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 20px;
}
