.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  border: 1px solid gray;
  padding: 10px;
}

.card {
  padding: 5px;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}
