.container {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  border: 1px solid black;
  width: fit-content;

  /* background-color: red; */
}
