.item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  width: 40px;
  border: 1px solid black;
}

body {
  width: 100%;
}

.container {
  display: flex;
  width: 100%;
  max-width: 300px;
  /* flex-direction: column-reverse; */
  /* flex-wrap: no-wrap; */
  justify-content: center;
}
