.header{
    display: flex;
    justify-content: space-between;
}
p {
    margin: 0;
    padding: 0;
}
.card button {
    border: none;
    background-color: red;
    cursor: pointer;
}

.card button{
    margin-top: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.itemcards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
