.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    padding : 10px;
}

.main {
    display : flex;
    flex-wrap : wrap;
    gap : 10px;
    border : 1px solid gray;
    padding : 10px;

}


.card {
    padding : 5px;
    border : 1px solid gray ;
    width : 100px;
    height : 100px ;

}


.footer {
    display: flex;
    justify-content: space-between;
    border : 1px solid gray;
    padding : 10px;
}


.App {
    width : 300px;
}


.todo {
    display: flex;
    justify-content: space-between;
}

.inputbox
{
    
    height: 15px;
    width: 200px;
}
.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check_icon {
    color: green;
    cursor: pointer;
    font-size: 20px;
}
.edit_icon {
    color: blue;
    cursor: pointer;
    font-size: 18px;

}

.delete_icon {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

