.item {
    height: 40px;
    width: 40px;
    border: 1px solid black;

}

    .container {
        display: flex; /* or inline-flex */
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: flex-end;
        
      }
      


